body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #424242; /* Off-white, grayish body */
}

  
/* nav-menu to be in line and organized */
.nav-menu {
  list-style: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 10;
  background-color: #1a001a;
  font-size: 20px;
  text-align: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* nav-menu-list order */
li {
  display: inline;
  margin-right: 15px;
}
/* nav-menu-list style */
li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* nav-menu-list hover */
li a:hover {
  text-decoration: none;
  color: blue;
}

/* header-h1-style */
h1 {
  background-color: #7b7474; /* Blue color for the header */
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* header-h2-style */
h2 {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
}
/* header-h3-style */
h3 {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
  }
/* header-h4-style */
h4 {
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
}
/* div class: personal goals images position */
.Personal-Goals {
  text-align: center;
}
/* header-h5-style */
h5 {
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
}
/* div: Vision-Board images alignment */
.Vision-Boards {
  text-align: center;
}

